[*.cs]

# CS1591: Отсутствует комментарий XML для открытого видимого типа или члена
dotnet_diagnostic.CS1591.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none
